.card-word {
    position: relative;
    width: 300px;
    height: 260;
    margin-bottom: 30px;
    transition: 0.2s;
    &:hover {
        margin-top: -3px;
        margin-bottom: 33px;
    }
    @media screen and (max-width: 767px) {
            margin: 0 auto;
            margin-bottom: 30px;
            width: 280px;
            height: 240px;
        }
    .container-card {
        width: 300px;
        height: 260px;
        overflow: hidden;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
        transform: rotateY(0deg);
        transition: box-shadow 0.2s;
        transition: transform 0.6s;
        &:hover {
            cursor: pointer;
            box-shadow: 0 7px 18px 0 rgba(0,0,0,.6);
        }
        @media screen and (max-width: 767px) {
            width: 280px;
            height: 240px;
        }
        .card-word-image {
            height: 80%;
            transition: height 0.2s;
            background-size: cover;
            background-position: center;
        }
        .container-name-word {
            height: 20%;
            position: relative;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            .word-rotate {
                position: absolute;
                display: flex;
                right: 20px;
                transform: rotate(0deg);
                transition: all 0.5s;
                &:hover {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

.container-translation {
    display: none;
    height: 20%;
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}