.overflow {
    overflow: hidden;
}

.displayBlock {
    display: block !important;
}

.posRelative {
    position: relative;
}

.displayFlex {
    display: flex !important;
}

.displayNone {
    display: none !important;
}

.marginLeftZero {
    margin-left: 0;
}

.rotate45 {
    background: white;
    top: 13px;
    transform: rotate(45deg);
}

.rotate-45 {
    background: white;
    top: 13px;
    transform: rotate(-45deg);
}

.active-link {
    color: black !important;
    font-weight: 900;
}

.animation-card {
    transform: perspective(300px) rotateY(180deg) !important;
}

.z-index {
    z-index: 10;
}

.word-reverse {
    transform: rotateY(180deg);
    display: flex;
}

.reverse {
    transform: rotateY(180deg);
}

.height-stars {
    height: 30px;
}

.height-button {
    height: 60px !important;
    font-size: 30px !important;
}

.button-repeat {
    width: 280px !important;
}
