* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}

.main {
    background: $main-color;
    .wrapper {
        @include flex();
        padding-top: 150px;
        padding-bottom: 20px;
        flex-wrap: wrap;
        @extend %container;
    }
}
