$train-color-gradient: linear-gradient(to top right, darkcyan 0%, cyan 100%);
$train-color: darkcyan;
$main-color: silver;

@mixin flex($jContent: space-between) {
    display: flex;
    justify-content: $jContent;
    align-items: center;
}

%container {
    width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1279px) {
        width: 750px;
    }
    @media screen and (max-width: 767px) {
        width: 300px;
    }
}