$train-color-gradient: linear-gradient(to top right, darkcyan 0%, cyan 100%);
$play-color-gradient: linear-gradient(to top right, rgb(122, 29, 29), rgb(245, 119, 119) 100%);
$statistics-color: linear-gradient(to top right, #bda209, rgb(232, 235, 65) 100%);
$train-color: darkcyan;
$play-color: rgb(122, 29, 29);
$main-color: silver;

@mixin flex($jContent: space-between) {
    display: flex;
    justify-content: $jContent;
    align-items: center;
}

%container {
    width: 1270px;
    margin: 0 auto;
    @media screen and (max-width: 1279px) {
        width: 630px;
    }
    @media screen and (max-width: 767px) {
        width: 300px;
    }
}
