$base-pink: #f1cdb3;
$base-white: white;
$base-gray: #cdcdcd;
$pets-card-background: #fafafa;
$about-subheading: #4c4c4c;
$base-light-gray: #f6f6f6;
$pets-arrow: #444444;
$base-dark-gray: #292929;
$base-pink-hover: #fddcc4;
$donation-credit-card-number: #292929;
$donation-description: #b2b2b2;
$text-middle-gray: #545454;
$button-dark-gray: #292929;
$color-light-l: #F6F6F6;

@mixin fontMain(
  $fontSize: 1.2rem,
  $lSpacing: 0px,
  $lHeight: auto,
  $tColor: $text-middle-gray
) {
  font-family: Arial;
  font-weight: lighter;
  font-size: $fontSize;
  letter-spacing: $lSpacing;
  line-height: $lHeight;
  color: $tColor;
}

@mixin fontDecor(
  $fontSize: 1.2rem,
  $lSpacing: 0px,
  $lHeight: auto,
  $tColor: $text-middle-gray
) {
  font-family: Georgia;
  font-weight: lighter;
  font-size: $fontSize;
  letter-spacing: $lSpacing;
  line-height: $lHeight;
  color: $tColor;
}

@mixin flex($jContent: space-between, $tDirection: row) {
  display: flex;
  justify-content: $jContent;
  flex-direction: $tDirection;
}

@mixin button($bWidth: 207px, $bHeight: 50px) {
  width: $bWidth;
  height: $bHeight;
  background-color: $base-pink;
  border: none;
  border-radius: 26px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $base-pink-hover;
    cursor: pointer;
  }
  @include fontDecor(
    $fontSize: 1.1rem,
    $tColor: $base-dark-gray,
    $lSpacing: 0.04rem
  );
}

@mixin buttonBorder($bWidth: 187px, $bHeight: 52px) {
  width: $bWidth;
  height: $bHeight;
  border: 2px solid $base-pink;
  border-radius: 26px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $base-pink-hover;
    border-color: $base-pink-hover;
    cursor: pointer;
  }
  @include fontDecor(
    $fontSize: 1.2rem,
    $tColor: $base-dark-gray,
    $lSpacing: 0.01rem
  );
}

@mixin buttonPopup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid $base-pink;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      background-color: $base-pink-hover;
      border-color: $base-pink-hover;
    }
}

@mixin arrow() {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid $base-pink;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $base-pink;
    cursor: pointer;
  }
}

%container {
  max-width: 1200px;
  padding: 0 40px;
  height: 100%;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}
