$base-pink: #F1CDB3;
$base-white: white;
$base-gray: #CDCDCD;
$pets-card-background: #FAFAFA;
$about-subheading: #4C4C4C;
$base-light-gray: #F6F6F6;
$pets-arrow: #444444;
$base-dark-gray: #292929;
$base-pink-hover: #FDDCC4;
$donation-credit-card-number: #292929;
$donation-description: #B2B2B2;
$text-middle-gray: #545454;
$button-dark-gray: #292929;

@mixin fontMain($fontSize: 1.2rem, $lSpacing: 0px, $lHeight: auto, $tColor: $text-middle-gray) {
    font-family: Arial;
    font-weight: lighter;
    font-size: $fontSize;
    letter-spacing: $lSpacing;
    line-height: $lHeight;
    color: $tColor;
}

@mixin fontDecor ($fontSize: 1.2rem, $lSpacing: 0px, $lHeight: auto, $tColor: $text-middle-gray) {
    font-family: Georgia;
    font-weight: lighter;
    font-size: $fontSize;
    letter-spacing: $lSpacing;
    line-height: $lHeight;
    color: $tColor;
}

@mixin flex ($jContent: space-between, $tDirection: row) {
    display: flex;
    justify-content: $jContent;
    flex-direction: $tDirection;
}

@mixin button ($bWidth: 10.5vw, $bHeight: 5.6vh) {
    width: $bWidth;
    height: $bHeight;
    background-color: $base-pink;
    border: none;
    border-radius: 26px;
    &:hover {
        background-color: $base-pink-hover;
        cursor: pointer;
    }
    @include fontDecor($fontSize: 2.1vh, $tColor: $base-dark-gray);
}

%container {
    width: 62vw;
    height: 100%;
    margin: 0 auto;
}

.section-screen {
    height: 100vh;
    background-image: url(../../assets/images/start-screen-background.jpg);
    background-size: cover;
    .container-screen {
        @extend %container;
        @include flex ($tDirection: column);
    }
}

.header {
    height: 8vh;
    margin-top: 5.5vh;
    @include flex();
    .logo-screen {
        width: 15.83vw;
        height: 100%;
        .title-screen {
            @include fontDecor ($fontSize: 3.5vh, $lHeight: 0.6rem, $tColor: $base-pink, $lSpacing: 0.1vw);
        }
        .subtitle-screen {
            @include fontMain($fontSize: 1.5vh, $tColor: $base-white, $lSpacing: 0.06vw);
        }
    }
    .nav-screen {
        width: 23.8vw;
        @include flex();
        align-items: center;
        .container-link-screen {
            height: 2.2vh;
            .link-screen{
                @include fontMain($fontSize: 1.7vh, $tColor: $base-gray);
                text-decoration: none;
                &:hover {
                    color: $base-white;
                    cursor: pointer;
                }
            }
            .link-hover {
                width: 100%;
                margin-top: 0.2vh;
                border-radius: 20%;
                border: 1px solid $base-pink;
            }
        }
        }
}

.container-screen-content {
    height: 78.7vh;
    @include flex ();
    align-items: center;
    .content-screen {
        width: 24vw;
        height: 43vh;
        .heading-content-screen {
            width: 19vw;
            margin-bottom: 3.2vh;
            @include fontDecor ($fontSize: 4.8vh, $tColor: $base-white, $lHeight: 6.1vh);
        }
        .text-content-screen {
            @include fontMain($fontSize: 1.63vh, $tColor: $base-gray, $lHeight: 1.2rem);
        }
        .button-screen {
           @include button();
           margin-top: 2.5vh;
        }
    }
    .image-screen {
        width: 36vw;
        height: 79vh;
        background-image: url(../../assets/images/start-screen-puppy.png);
        background-size: cover;
    }
}

.section-about {
    height: 63.57vh;
    .container-about {
        @include flex();
        justify-content: center;
        @extend %container;
        .container-content-about {
            @include flex();
            height: auto;
            width: 43.5vw;
            align-items: center;
            .image {
                height: 44.4vh;
                width: 15.2vw;
            }
            .content-about {
                height: 50vh;
                width: 22vw;
                padding-top: 4.5vh;
                .heading-about {
                    display: block;
                    width: 20vw;
                    @include fontDecor($fontSize: 3.8vh, $lSpacing: 0.1vw, $lHeight: 5.2vh);
                    padding-bottom: 0.5vh;
                }
                .text-content-about {
                    @include fontMain($fontSize: 1.61vh, $tColor: $about-subheading, $lHeight: 2.7vh);
                    padding-bottom: 0.3vh;
                }
            }
        }
    }
}

.section-pets {
    height: 93.19vh;
    background-color: $pets-card-background;
    .container-pets {
        @extend %container;
    }
}

.section-help {
    height: 66.4vh;
    .container-help {
        @extend %container;
    }
}

.section-donation {
    height: 50.3vh;
    background-color: $base-light-gray;
    .container-donation {
        @extend %container;
    }
}

.footer {
    height: 38.4vh;
    background-image: url(../../assets/images/footer-background.jpg);
    background-size: cover;
    .container-footer {
        @extend %container;
    }
}