* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  font-family: 'Merriweather', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 700px;
  height: 100vh;
  background-size: cover;
  color: #000000;
  transition: background-image 1s ease-in-out;
  transition-delay: 250ms;
}

.date {
  font-size: 3rem;
}

.time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.btn {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 150px;
  height: 35px;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid;
  border-radius: 15px;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: inherit;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.editable {
  min-width: 2rem;
  min-height: 1rem;
}

.editable:focus {
  outline: none;
}

.quotes {
  font-size: 1rem;
}

.weather-icon {
  font-size: 2rem;
}

.text {
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 700px) {
  body {
    min-height: 600px;
  }
  .date {
    font-size: 2rem;
  }
  .time {
    font-size: 6rem;
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}

@media (max-width: 440px) {
  body {
    min-height: 500px;
  }
  .date {
    font-size: 1.5rem;
  }
  .time {
    font-size: 4rem;
  }
  .quotes {
    font-size: 0.8rem;
  }
  .text {
    font-size: 0.9rem;
  }
}