* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  height: 100vh;
  background-size: cover;
  color: white;
  transition: background-image 1s ease-in-out;
  transition-delay: 250ms;
}

.div-background {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(assets/images/overlay.png);
  background-size: cover;
}

.date {
  font-size: 3rem;
}

.time {
  font-size: 8rem;
  display: flex;
  box-sizing: border-box;
  width: 555px;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.btn {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 180px;
  height: 35px;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid;
  border-radius: 15px;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: inherit;
  transition: background-color 1s, border-color 1s;
}

.btn:hover {
  cursor: pointer;
  background-color: gray;
  border-color: gray;
}

.btn:focus {
  outline: none;
}

.editable {
  min-width: 2rem;
  min-height: 1rem;
  transition: color 1s;
}

.editable:hover {
  cursor: pointer;
  color: grey;
}

.editable:focus {
  outline: none;
}

.quotes {
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 70px;
  width: 680px;
}

.weather-icon {
  font-size: 2rem;
}

.text {
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 700px) {
  body {
    min-height: 610px;
  }
  .div-background {
    padding: 5px;
  }
  .date {
    font-size: 1.5rem;
  }
  .time {
    font-size: 6rem;
    width: 425px;
  }
  .text {
    width: 430px;
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .quotes {
    height: 100px;
    width: 420px;
  }
}

@media (max-width: 440px) {
  body {
    min-height: 560px;
  }
  .date {
    font-size: 1.5rem;
  }
  .time {
    font-size: 3.5rem;
    width: 245px;
  }
  .quotes {
    font-size: 0.9rem;
    width: 300px;
    height: 110px;
  }
  .text {
    width: 300px;
    font-size: 0.9rem;
  }
}