@import "~normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

*:focus {
  outline: none;
}

.container-header {
  position: absolute;
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  top: 60px;
  left: calc(100% / 2 - 200px);
  height: 40px;
  width: 400px;
}

.content {
  width: auto;
  text-align: center;
  font-size: 16px;
}

.btn-pause {
  width: 70px;
  padding: 2px 7px;
  box-shadow: 0 0 3px black;
}

.btn-pause:hover {
  font-weight: bold;
  cursor: pointer;
}

.container {
  position: relative;
  top: 100px;
  margin: auto auto;
  background-color: gray;
  border: 1px solid black;
  height: 400px;
  width: 400px;
}

.element {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 10%;
  background-color: black;
  color: lightgray;
  font-size: 20px;
}

.element:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.container-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 100px;
  left: calc(100% / 2 - 200px);
  background-color: rgba(0, 0, 0, 0.9);
  height: 400px;
  width: 400px;
}

.container-content-menu {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button-menu {
  font-size: 22px;
  padding: 2px 7px;
  color: aqua;
  box-shadow: 0 0 3px white;
}

.button-menu:hover {
  font-weight: bold;
  cursor: pointer;
}

.header {
  text-transform: uppercase;
  font-size: 22px;
  color: aqua;
}

.setting {
  font-size: 22px;
  color: aqua;
}

.select {
  font-size: 22px;
}

.message {
  color: white;
  font-size: 16px;
}

.message-gratulate {
  text-align: center;
  line-height: 33px;
  color: white;
  font-size: 22px;
}

.header-rating {
  font-size: 16px;
  color: aqua;
}

.rating-body {
  font-size: 16px;
  width: 100%;
  color: white;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.text-rating {
  padding-top: 2px;
}

@media screen and (max-width: 400px) {
  .container-header {
    width: 100vw;
    left: 0;
  }

  .container {
    width: 100vw;
    height: 100vw;
  }

  .container-menu {
    width: 100vw;
    height: 100vw;
    left: 0;
  }

  .message-gratulate {
    line-height: 27px;
    font-size: 18px;
  }
}